.count {
    text-align: center;
}

.count button {
    padding: 4px 20px;
    font-size: 16px;
    background-color: #3939;
    color: #fff;
    border-radius: 9999px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.count button:hover {
    background-color: #656161;
}

.buttons {
    padding: 10px;
    border-radius: 8px;
    background-color: #000;
    color: white;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.buttonTop {

    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d15700;
    color: #d15700;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    margin: 50px 60% 0px 0px;
    transition: all .5s;
}

.buttonRight {
    
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    border: 1px solid #d15700;
    color: #d15700;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    left: 75%;
    top: 114px;
    transition: all .5s;
}

.buttonTop:hover {
    background-color: #d15700;
    color: white;
    transition: all .5s;
}


.post {
    padding: 30px 70px 20px 70px;
    position: relative;
    border-radius: 8px;
    box-shadow: 1px 1px 20px;
    margin-top: 35px;
    width: 48%;
    left: 28%;
    background-color: aliceblue;
}
h1 {
    color: #fff;
}
.modalAdd button {
    position: absolute;
    color: #fff;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    left: 54px;
    top: 105px;
    transition: all 0.5s;
}

.modalAdd button:hover {
    transition: all 0.5s;
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 1px 2px 15px;
}

.css-62e83j-MuiCircularProgress-root {
    margin-left: 50%;
    margin-top: 40px;
}

.title {
    font-size: 20px;
    text-align: center;
}
hr {
    /* border: 1px solid #c4c7c4; */
    margin: 20px 0;
	padding: 0;
	height: 5px;
	border: none;
	box-sizing: border-box;
	background-position: 50%;
	color: orange;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="3px" viewBox="0 0 3 3" fill="orange"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"></polygon><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"></polygon></svg>');
	background-size: 6px 6px;
}

