@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.App {
  /* text-align: center; */
  background-color: #478dbf;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  cursor: pointer;
  background-color: unset;
  border: none;
}
.trashButton {
  position: absolute;
  right: 20px;
  top: 37px;
}
.heartButton {
  position: absolute;
  left: 20px;
  top: 35px;
}
.heartButton:hover {
  transform: translate(-45);
}
.btnClose {
  margin: 0px 0px 0px 90%;
}

.correctText {
  position: absolute;
  top: 10px;
  left: 50%;
  right: 50%;
}


/* form */

.loginForm {
  text-align: center;
  height: 375px;
}

.loginForm input {
  margin-top: 20px;
  padding: 10px;
  outline: none;
  width: 169px;
}

.btnLogin {
  margin-top: 20px;
  border: 1px solid #000;
  padding: 10px;
  transition: all 0.5s;
  width: 190px;
}

.btnLogin:hover {
  transition: all 0.5s;
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}

.btnLogin:focus {
  transform: scale(0.9);
}

.headerLogin {
  text-align: center;
  margin-bottom: 56px;
  margin-top: 82px;
  letter-spacing: 8px;
  font-family: fantasy;
}





